*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
}
html {
    font-family: 'Lato', Tahoma, Sans-Serif;
    font-size: 12px;
}
body{
    background-color: #505050;
}

section{
    min-height: 100vh;
}

#inicio{
    background: url("assets/img/inicio.jpg") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
}
#hoteles{
    background-color: white;
    padding-bottom: 70px;
}

a {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
header {
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 0;
}
nav {
    margin-top: 18px;
}

nav > ul {
    display: flex;
}
nav > ul > li {
    margin-right: 25px;
}

.container-lg {
    max-width: 1280px;
    margin: 0 auto;
}

.main-question {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input {
    border: none;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
}

.search-i {
    padding: 0 15px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-icon {
    font-size: 40px;
}

.btn-primary {
    background: #8E0B1F;
    border: 2px solid #8E0B1F;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    height: 50px;
    padding: 0 15px;
    font-size: 1.6rem;
}

.btn-primary:hover {
    color: #8E0B1F;
    background: #FBDFE4;
    border: 2px solid #8E0B1F;
}

.main-question input {
    box-sizing: border-box;
    height: 50px;
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.main-question-title {
    font-size: 2.7rem;
    font-weight: 900;
    color: white;
    padding: 15px 0;
}

/* Hoteles */

#hoteles h2 {
    font-size: 4rem;
    padding: 70px 0;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hotels-card {
    width: 300px;
    min-width: 300px;
    margin: 10px;
    background: white;
}
.vuelos-card {
    width: 300px;
    min-width: 300px;
    margin: 10px;
    background: white;
    flex-basis: 25%;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-name {
    font-size: 2rem;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.card-description {
    font-size: 1.4rem;
    color: #3f3e3e;
    padding: 15px 0;
}

.card-button {
    background: #FBDFE4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #8E0B1F;
    font-weight: 700;
}

.card-button:hover{
    background: #8E0B1F;
    color: #FBDFE4;
}

.card-body {
    padding: 30px;
}

/* Vuelos */

#vuelos {
    background: url("assets/img/vuelos.jpg") center center / cover no-repeat;
    padding-bottom: 70px;
}

#vuelos h2 {
    font-size: 4rem;
    padding: 70px 0;
    text-align: center;
}

.border-r {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.vuelos{
    justify-content: space-evenly;
}

.border-top-r {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Contact */
#contacto{
    background: url("assets/img/contact-us.jpg") center center / cover no-repeat;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto h2 {
    font-size: 4rem;
    padding-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
}

.main-form {
    background: white;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    padding: 20px;
}

.form-item {
    display: block;
    font-size: 1.6rem;
    padding: 10px 0;
    width: 100%;
}


input.form-item {
    padding-left: 10px;
}

.main-form .btn-primary {
    margin: 15px 0;
}

.h-auto {
    height: auto;
}

.menu-container {
    position: relative;
    display: flex;
    padding-top: 20px;
}

/* Media Queries */

@media (min-width: 769px){
    .menu{
        display: none;
    }
    nav {
        margin-top: 0;
    }
}

@media only screen
    and (max-width: 768px)
    {
    nav > ul {
        flex-direction: column;
    }
    .search-i {
        padding: 0 10px;
    }
    .vuelos {
        justify-content: center;
    }
    header {
        padding: 30px 20px;
    }
    nav {
        background: #8E0B1F;
        padding: 10px;
        position: absolute;
        width: 150px;
        left: -120px;
    }

    nav > ul > li {
        padding: 10px;
    }

    nav::before{
    position: absolute;
    top: -5px;
    right: 5px;
    border-bottom: 10px solid #8E0B1F;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: " ";
    }
}